@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input[type="submit"], button { cursor: pointer; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { -webkit-box-sizing: inherit; box-sizing: inherit; }

@font-face { font-family: "svgfont"; src: url("fonts/svgfont.eot"); src: url("fonts/svgfont.eot?#iefix") format("eot"), url("fonts/svgfont.woff") format("woff"), url("fonts/svgfont.woff2") format("woff2"), url("fonts/svgfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.icon, [class^="icon-"], [class*=" icon-"] { font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon, [class^="icon-"], [class*=" icon-"] { display: inline-block; }

.icon-sepa:before { content: ""; }

.icon-skrill:before { content: ""; }

@font-face { font-family: "ITCNewVeljovicDSPro"; src: url("fonts/ITCNewVeljovicDSPro.eot"); src: url("fonts/ITCNewVeljovicDSPro.eot?#iefix") format("embedded-opentype"), url("fonts/ITCNewVeljovicDSPro.woff2") format("woff2"), url("fonts/ITCNewVeljovicDSPro.woff") format("woff"), url("fonts/ITCNewVeljovicDSPro.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ITCNewVeljovicProCnMd"; src: url("fonts/ITCNewVeljovicProCnMd.eot"); src: url("fonts/ITCNewVeljovicProCnMd.eot?#iefix") format("embedded-opentype"), url("fonts/ITCNewVeljovicProCnMd.woff2") format("woff2"), url("fonts/ITCNewVeljovicProCnMd.woff") format("woff"), url("fonts/ITCNewVeljovicProCnMd.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "MarkSimonsonProximaNovaAltCondensedSemibold"; src: url("fonts/MarkSimonsonProximaNovaAltCondensedSemibold.eot"); src: url("fonts/MarkSimonsonProximaNovaAltCondensedSemibold.eot?#iefix") format("embedded-opentype"), url("fonts/MarkSimonsonProximaNovaAltCondensedSemibold.woff2") format("woff2"), url("fonts/MarkSimonsonProximaNovaAltCondensedSemibold.woff") format("woff"), url("fonts/MarkSimonsonProximaNovaAltCondensedSemibold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.header { position: relative; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
.header__in { padding: 18px 50px 19px; }
.header__logo { width: 160px; float: left; font-size: 0; line-height: 1; padding-top: 6px; }
.header__switcher { width: 160px; float: right; text-align: right; }
.header__nav { overflow: hidden; text-align: center; white-space: nowrap; }

.logo { display: inline-block; }

.nav { display: inline-block; font-size: 0; }
.nav__link { font-size: 12px; display: inline-block; text-decoration: none; font-family: "MarkSimonsonProximaNovaAltCondensedSemibold", sans-serif; color: #4a4a4a; position: relative; cursor: pointer; padding-bottom: 15px; }
.nav__link:after { content: ""; display: block; position: absolute; bottom: 0px; left: 0; right: 0; border-bottom: 2px solid transparent; -webkit-transition: all 0.3s; transition: all 0.3s; }
.nav__link + .nav__link { margin-left: 30px; }
.nav__link:hover, .nav__link.is-active { color: #c3b091; }
.nav__link:hover:after, .nav__link.is-active:after { border-color: #c3b091; }

.footer { position: relative; background-color: #fafafa; text-transform: uppercase; color: #4a4a4a; font-family: "ITCNewVeljovicProCnMd", serif; font-size: 20px; }
.footer .inner { padding: 22px 0; }
.footer__r { float: right; width: 300px; }
.footer__c { overflow: hidden; padding: 0 110px 0 100px; }
.footer__l { float: left; width: 220px; }

.copy { color: #3c3c3c; font-size: 13px; text-transform: none; font-family: "ITCNewVeljovicDSPro", sans-serif; }

.link-mail { font-family: "ITCNewVeljovicDSPro", sans-serif; color: #c3b091; text-decoration: none; font-size: 20px; text-transform: lowercase; }

body { font-family: "ITCNewVeljovicDSPro", sans-serif; font-size: 16px; line-height: 1.2; }

a { -webkit-transition: all 0.3s; transition: all 0.3s; }

address, strong, em { font-weight: 400; font-style: normal; }

p { font-family: "ITCNewVeljovicDSPro", sans-serif; color: #4a4a4a; font-size: 16px; }
p:not(:last-of-type) { margin-bottom: 20px; }

.inner, .l-layout { max-width: 960px; width: 100%; margin: auto; *zoom: 1; }
.inner:after, .l-layout:after { content: " "; display: table; clear: both; }

.btn { position: relative; display: inline-block; text-align: center; -webkit-border-radius: 100px; border-radius: 100px; padding: 11px 30px; text-decoration: none; color: #c3b091; background-color: #fff; border: 1px solid #c3b091; font-size: 12px; font-family: "MarkSimonsonProximaNovaAltCondensedSemibold", sans-serif; }

.btn { -webkit-transition: all 0.3s; transition: all 0.3s; }
.btn:hover { background-color: #c3b091; color: #fff; }
.btn:active { background-color: #baa481; color: #fff; }

.link { text-decoration: underline; font-size: 12px; font-family: "MarkSimonsonProximaNovaAltCondensedSemibold", sans-serif; font-weight: normal; color: #c3b091; }

.h1, .h2, .h3 { font-family: "ITCNewVeljovicProCnMd", serif; color: #4a4a4a; font-weight: normal; }

.h1 { text-transform: uppercase; font-size: 30px; margin-bottom: 40px; }

.h3 { font-size: 20px; margin-bottom: 25px; }

.pages-list { display: inline-block; list-style-type: decimal; padding: 50px; font-size: 24px; }
.pages-list a { color: black; text-decoration: none; font-weight: 900; }
.pages-list a:hover { text-decoration: underline; }

.out { max-width: 1360px; width: 100%; margin: 0 auto -92px; min-height: 100%; }
.out:after { content: ""; display: block; height: 92px; }

.article { padding: 70px 0; }
.article_center { text-align: center; max-width: 780px; width: 100%; margin: auto; }
.article_center .h1 { padding: 0px 155px; }
.article__text { margin-bottom: 60px; }

.gallery .h1 { text-align: center; }

.item-list { font-size: 0; margin: 0 0 0 -1%; }

.item { float: left; width: 56%; margin-left: 1%; margin-bottom: 50px; }
.item h3 { padding: 0 20px 0 0; }
.item img { width: 100%; display: block; height: auto; }
.item a { text-transform: uppercase; text-decoration: none; color: #4a4a4a; }
.item__pic { margin-bottom: 33px; min-height: 31.25%; }
.item_width { width: 41%; }

.services_intro { background: url(../img/services_image.jpg); background-repeat: no-repeat; min-height: 250px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.services { padding-top: 60px; }

.services__list { font-size: 0; width: 100%; }

.services__list-item { float: left; width: 50%; }
.services__list-item h3 { max-width: 352px; margin-bottom: 40px; }
.services__list-item a { color: #4a4a4a; text-transform: uppercase; text-decoration: none; }

.about__content { width: 50%; float: left; }
.about__pic { width: 50%; float: right; }
.about__pic img { width: 100%; display: block; height: auto; }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
 *{ -webkit-text-size-adjust: none; } }



/*# sourceMappingURL=style.css.map */
