.footer
	position: fixed
	bottom: 0
	left: 0 
	right: 0
	width: 100%
	background-color: #fafafa
	// height: 93px 
	text-transform: uppercase
	color: $color-dark-1
	+md
	font-size: $font-medium 
	.inner
		padding: 22px 0
		+r(740)
			padding: 40px 30px
			display: flex
			flex-direction: column
	&__r
		float: right
		max-width: 300px
		+r(740)
			order: 3
	&__c
		overflow: hidden
		padding: 0 20px
		max-width: 270px
		margin: auto
		+r(740)
			padding: 0
			order: 2
			address
				font-size: 26px

	&__l
		float: left
		max-width: 220px
		+r(740)
			order: 1
	&__l,
	&__c
		+r(740)
			margin: 0 0 30px
	&__l,
	&__r
		+r(740)
			float: none
	span
		display: inline-block
		+r(740)
			display: block
			font-size: 24px
.copy
	color: $color-dark-2
	font-size: 13px
	text-transform: none
	+r(740)
		font-size: 18px
	+pro
.link-mail
	+pro
	color: $color-active
	text-decoration: none
	font-size: $font-medium
	text-transform: lowercase