.footer
	position: relative
	background-color: #fafafa
	// height: 93px 
	text-transform: uppercase
	color: $color-dark-1
	+md
	font-size: $font-medium 
	.inner
		padding: 22px 0
	&__r
		float: right
		width: 300px
	&__c
		overflow: hidden
		padding: 0 110px 0 100px
	&__l
		float: left
		width: 220px
.copy
	color: $color-dark-2
	font-size: 13px
	text-transform: none
	+pro
.link-mail
	+pro
	color: $color-active
	text-decoration: none
	font-size: $font-medium
	text-transform: lowercase