.header
	position: relative
	margin-bottom: 30px
	background-color: #FFF 
	+r(900)
		position: fixed
		top: 0
		left: 0
		right: 0
		z-index: 999
		margin-bottom: 0
	&__in
		padding: 14px 50px 2px
		+clr
		+r(1200)
			padding: 14px 25px 2px
		+r(900)
			padding: 23px 25px
	&__logo
		max-width: $width-col-header
		float: left
		font-size: 0
		line-height: 1
		+rm(901)
			padding-top: 6px
		+r(420)
			float: none
			padding: 0
	&__switcher
		max-width: $width-col-header
		float: right
		text-align: right
		.nav
			padding: 0
		+r(900)
			.nav__link
				font-size: 16px
	&__nav
		overflow: hidden
		text-align: center
		white-space: nowrap
		&.is-show
			right: 0
		+r(900)
			// overflow-x: hidden
			// overflow-y: auto
			overflow: visible
			white-space: normal
			text-align: right
			top: 59px
			right: -100%
			bottom: 0
			width: 250px
			background-color: #FFF
			z-index: 100
			position: fixed
			padding: 0 25px
			+tr(right 0.5s)
			.header__switcher
				position: absolute
				bottom: 0
				left: 0
				right: 0
				margin: auto
				padding: 0 25px 30px
				float: none
				max-width: none
				.nav__link
					font-size: 16px
					padding-bottom: 0
					display: inline-block
				
.mobile-menu
	display: none
	width: 20px
	height: 14px
	background-color: transparent
	top: 0
	right: 25px
	bottom: 0
	margin: auto
	cursor: pointer
	position: absolute
	z-index: 222
	&.is-open
		span
			opacity: 0
		&:before
			+rotate(45)
		&:after
			+rotate(-45)
	+r(900)
		display: block
	span,
	&:before,
	&:after
		display: block
		width: 20px
		height: 2px
		background-color: #000
	&:before,
	&:after
		content: ""
		position: absolute
		left: 0
		+tr(all 0.3s)
	&:after 
		bottom: 0
		transform-origin: 3px -1px
	&:before
		top: 0
		transform-origin: 2px 4px
.logo
	display: inline-block
.nav
	display: inline-block
	font-size: 0
	padding: 0 30px
	+r(900)
		display: block
		padding: 77px 0
	&__link
		font-size: $font-small-x
		display: inline-block
		text-decoration: none
		+semi
		color: $color-dark-1
		position: relative
		cursor: pointer
		padding-bottom: 15px
		+r(900)
			padding-bottom: 10px
			color: #3d3834
			font-size: 20px
		+rm(901)
			&:after
				content: ''
				display: block
				position: absolute
				bottom: 0px
				left: 0
				right: 0
				border-bottom: 2px solid transparent
				+tr(all 0.3s)
		+ .nav__link
			margin-left: 30px
		&:hover, &.is-active
			color: $color-active
			&:after
				border-color: $color-active
