// Normally mainpage styles 
.out
	min-width: 300px
	width: 100%
	min-height: 100%
	margin: auto
	+r(900)
		padding-top: 59px
.out_sticky-footer
	&:after
		content: ''
		display: block
		height: 92px
		margin: 0 auto -92px
.l-layout
	@extend %wrp
.article
	padding: 70px 0
	+r(900)
		padding: 35px 20px 60px 20px
	&_center
		text-align: center
		max-width: 780px
		width: 100%
		margin: auto
		.h1
			padding: 0px 155px
			+r(900)
				padding: 0
				margin-bottom: 30px
	&__text
		margin-bottom: $space-triple
.gallery
	padding-bottom: 80px
	+r(900)
		padding-bottom: $space-triple
	.h1
		text-align: center
		+r(900)
			font-size: 27px
.item-list
	font-size: 0
	margin: 0 0 0 -1%
	+r(1200)
		margin: 0
	+clr
.item
	float: left
	width: 56%
	margin-left: 0.5%
	+rm(901)
		&:nth-child(-n+2)
			margin-bottom: 50px
	+r(900)
		width: 50%
		margin-left: 0
		margin-bottom: 30px
		padding-left: 0.5%
		min-height: 500px
	+r(600)
		width: 100%
		padding-left: 0
		min-height: auto
		margin: 0
		&:not(:last-child)
			margin-bottom: $space-double
	&__content
		+r(600)
			padding: 0 30px
	.btn
		+r(420)
			display: none
	h3
		padding: 0 $space 0 0
		font-size: $font-medium
		+md
		font-weight: normal
		+r(900)
			font-size: 26px
		+r(420)
			margin-bottom: 0 !important
		a
			color: $color-dark-1
	a
		text-decoration: none
	&__pic
		width: 100%
		margin-bottom: 33px
		min-height: 300px
		display: block
		background-size: cover !important
		background-position: center 
	&_width
		width: 41%
.about
	+clr
	padding-bottom: 80px
	+r(900)
		padding-bottom: $space-triple
	+clr
	&__content
		margin-top: $space-double
		@extend %col-left
		+r(1024)
			padding: 0 30px
			float: left
			width: 50%
			max-width: none
		+r(768)
			float: none
			width: 100%
			margin: 0
		.h4
			+r(420)
				font-weight: 400
				font-size: 18px
				margin-bottom: $space
	&__text
		margin-bottom: $space-triple
		+r(420)
			margin-bottom: $space-double
		p
			+r(420)
				margin: 0
				font-size: $font-medium
	&__list
		margin-bottom: $space-triple
		+r(420)
			margin-bottom: 30px
	&__list-item
		&:not(:last-child)
			margin-bottom: 10px
	&__quality
		margin-bottom: $space-triple
		+r(420)
			margin-bottom: $space
		p
			+r(420)
				font-size: $font-medium
				margin-bottom: 15px
		strong
			+r(420)
				font-size: $font-medium
				line-height: 1.33
	&__doc-item
		padding-left: $space-double
		position: relative
		&:after
			content: ''
			display: block
			position: absolute
			width: 20px
			height: 1px
			background-color: $color-active
			left: 6px
			top: 12px
			bottom: 0px
			right: 0
		&:not(:last-child)
			margin-bottom: 10px
.slider-unit
	@extend %col-right
	.slick-list,
	.slick-track,
	.slick-slide
		height: 100%
	.slick-slide
		background-size: cover
		background-repeat: no-repeat
		background-position: center
	+r(768)
		float: none
		width: 100%
		margin-bottom: $space-double
		height: 347px
.services_intro
	height: 250px
	overflow: hidden
	+cover
	+r(420)
		display: none
.services
	padding-top: $space-triple
	padding-bottom: 150px
	+r(420)
		padding: 60px 45px 60px 30px
.services__list
	font-size: 0
	+clr
	margin-left: 10%
	+r(420)
		margin: 0
.services__list-item
	float: left
	width: 50%
	&:nth-child(-n+2)
		margin-bottom: $space-double
	+r(768)
		width: 100%
		&:not(:last-child)
			margin-bottom: $space-double
	h3
		max-width: 352px
		margin-bottom: 0
		+r(420)
			font-size: 26px
	a
		color: $color-dark-1
		text-transform: uppercase
		text-decoration: none
.technology
	+clr
	+r(900)
		padding-bottom: $space-triple
	&__content
		margin-top: $space-double
		@extend %col-left
		+r(1024)
			padding: 0 30px
			float: left
			width: 50%
			max-width: none
		+r(768)
			float: none
			width: 100%
			margin: 0
	&__text
		margin-bottom: $space-double
		p
			+r(420)
				font-size: $font-medium
	.btn
		+r(420)
			left: 15%
	&__pic
		@extend %col-right
		background-size: cover
		background-repeat: no-repeat
		+r(768)
			float: none
			width: 100%
			margin-bottom: $space-double
			height: 347px
.news
	+clr
	padding-bottom: 80px
	+r(420)
		padding-bottom: $space-triple
	&__col
		+clr
		&:not(:last-child)
			margin-bottom: $space-triple
			+r(900)
				margin-bottom: 80px
	&__content
		margin-top: $space
		padding-right: 168px
		@extend %col-left
		+r(1024)
			padding: 0 30px
			float: left
			width: 50%
			max-width: none
		+r(768)
			float: none
			width: 100%
			margin: 0
			.data
				font-size: $font-medium
		+r(420)
			.btn
				display: table
				margin: auto
	&__title
		h2
			margin-bottom: 0
		margin-bottom: $space
		a
			text-decoration: none
	&__pic
		width: 50%
		float: right
		+r(768)
			float: none
			width: 100%
			margin-bottom: 30px
			overflow: hidden
		+r(420)
			height: 300px
			position: relative
			img
				position: absolute
				top: 0
				left: 9px
				height: 100%
				width: 100%
	&__desc
		margin-bottom: 30px
		p
			opacity: 0.6
			+r(420)
				font-size: $font-medium
.contacts
	+clr
	+r(900)
		display: flex
		flex-direction: column-reverse
		padding-top: $space-triple
	p
		margin: 0
	&__content
		margin-top: 117px
		@extend %col-left
		+r(900)
			width: 100%
			margin: 0 0 $space-double
			padding: 0 30px
		.copy
			margin-bottom: $space-double
		p
			font-size: $font-small
			margin-bottom: 18px
			+r(900)
				font-size: 26px
		adress
			font-size: $font-medium
			font-weight: normal
			color: $color-dark-1
			+md
			+r(900)
				font-size: 26px
	&__adr
		margin-bottom: 80px
		+r(900)
			margin-bottom: 30px
	&__info
		a
			margin-bottom: 10px
			display: block
		span
			display: inline-block
			font-size: $font-medium
			font-weight: normal
			+pro
			color: $color-dark-1
			+r(900)
				display: block
				font-size: 26px
	&__map
		width: 50%
		float: right
		height: calc(100vh - 80px)
		+r(900)
			width: 100%
.slider
	overflow: hidden
.slider-wrp
	width: 770px
	position: relative
	+r(1150)
		width: 100%
.slider-pic
	&__item
		background-size: cover
		background-position: center 
		height: 430px
		+r(900)
			height: 347px
.slider-text
	@extend %slide-t
	position: absolute
	top: 0
	bottom: 0
	right: -380px
	margin: auto
	box-shadow: 4px 4px 13px 0 rgba(0, 0, 0, 0.1)
	z-index: 2
	text-align: right
	+r(1150)
		display: none
.slick-slider
	.slick-arrow
		width: 65px
		height: 65px
		background-color: transparent
		top: 100%
		margin-top: 0
		&:before
			+hide-text
			width: 8px
			height: 17px
	.slick-prev
		right: 65px
		left: auto
		&:before
			background: url(../img/svg/arrow_left.svg)
	.slick-next
		right: 0
		left: auto
		&:before
			background: url(../img/svg/arrow_right.svg)
	.h1
		margin-bottom: $space
	p
		line-height: 22px
		color: rgba(74, 74, 74, 0.6)
.category
	padding-bottom: 80px
	+r(420)
		padding-top: $space-double
		padding-bottom: $space-triple
	.h1
		+r(420)
			font-size: 26px
	p
		+r(420)
			font-size: $font-medium
	&__content
		margin-bottom: $space-double
		+r(420)
			padding: 0 45px 0 30px
	&__pic
		margin-bottom: $space-double
	&__text
		+r(420)
			padding: 0 45px 0 30px
.album
	padding-bottom: 80px
	.h1
		+r(900)
			font-size: 26px
	+r(1024)
		.inner
			max-width: none
		padding-top: $space
		padding-bottom: $space-triple
	&__list
		font-size: 0
		margin: 0 0 0 -0.5%
		+clr
	&__list-item
		float: left
		width: 22.7%
		margin-left: 0.3%
		margin-bottom: 0.3%
		+r(767)
			width: 31%
		+r(420)
			width: 45.5%
			margin-left: 0.5%
			margin-bottom: 0.5%
	&__content
		+r(1024)
			padding: 0 45px 0 30px
.products-intro
	background: url(../img/services_category_01_slide_image.jpg)
	min-height: 250px
	+cover
.products
	padding: 40px 0 80px 0
	p, strong
		+r(900)
			font-size: $font-medium
	h2
		+r(900)
			font-size: 26px

	+r(900)
		padding-bottom: $space-triple
	&__content
		+r(1024)
			padding: 0 45px 0 30px
	&__list
		margin-bottom: $space
	&__text
		margin-bottom: 55px
		+r(900)
			margin-bottom: 35px
	&__album
		margin-bottom: $space-triple
		+r(900)
			margin-bottom: $space-double
		.album__list
			margin-bottom: $space-double
		.album__list-item
			// height: 165px
			// overflow: hidden
			+r(420)
				width: 45%
			+r(900)
				width: 45.5%
				margin-left: 0.5%
				margin-bottom: 0.5%
		.btn-c
			text-align: center
	&__guarantee
		+r(900)
			padding: 0 45px 0 30px
		h3
			+r(900)
				font-size: 18px
				font-weight: 500
		p
			margin-bottom: $space
			+r(900)
				margin-bottom: $space-double

