// Normally mainpage styles 
.out
	max-width: 1400px
	padding: 0 20px
	width: 100%
	margin: 0 auto -92px
	min-height: 100%
	&:after
		content: ''
		display: block
		height: 92px
.l-layout
	@extend %wrp
.article
	padding: 70px 0
	&_center
		text-align: center
		max-width: 780px
		width: 100%
		margin: auto
		.h1
			padding: 0px 155px
	&__text
		margin-bottom: $space-triple
.gallery
	.h1
		text-align: center
.item-list
	font-size: 0
	margin: 0 0 0 -1%
.item
	float: left
	width: 56%
	margin-left: 1%
	margin-bottom: 50px
	h3
		// max-width: 352px
		padding: 0 $space 0 0
	img
		width: 100%
		display: block
		height: auto
	a
		text-transform: uppercase
		text-decoration: none
		color: $color-dark-1
	&__pic
		margin-bottom: 33px
		min-height: 31.25%
	&_width
		width: 41%
.services_intro
	background: url(../img/services_image.jpg)
	min-height: 250px
	+cover
.services
	padding-top: $space
	padding-bottom: 150px
.services__list
	font-size: 0
	width: 100%
	+clr
	margin-left: 10%
.services__list-item
	float: left
	width: 50%
	margin-top: $space-double
	h3
		max-width: 352px
		margin-bottom: 0
	a
		color: $color-dark-1
		text-transform: uppercase
		text-decoration: none
.about
	+clr
	&__content
		width: 38%
		float: left
		margin-right: 12%
		margin-top: 40px
	&__text
		margin-bottom: 40px
	&__pic
		width: 50%
		float: right
		img
			width: 100%
			display: block
			height: auto
.about
	.out
	&:after
		display: none
.news
	+clr
	padding-bottom: 80px
	&__col
		+clr
		&:not(:last-child)
			margin-bottom: 60px
	&__content
		margin-top: 20px
		width: 27%
		float: left
		margin-right: 23%
	&__title
		h2
			margin-bottom: 0
		margin-bottom: 20px
	&__pic
		width: 50%
		float: right
		img
			width: 100%
			display: block
			height: auto
	&__desc
		margin-bottom: 30px
.slider-wrp
	width: 770px
	position: relative
.slider-pic
	&__item
		background-size: cover
		height: 430px
.slider-text
	position: absolute
	top: 0
	bottom: 0
	right: -380px
	margin: auto
	width: 460px
	height: 300px
	padding: 55px 60px
	background-color: $color-white-1
	box-shadow: 4px 4px 13px 0 rgba(0, 0, 0, 0.1)
	z-index: 2
	text-align: right
	.h1
		margin-bottom: $space
	p
		line-height: 22px
		color: rgba(74, 74, 74, 0.6)
	.slick-arrow
		width: 65px
		height: 65px
		background-color: transparent
		top: 100%
		margin-top: 0
		&:before
			+hide-text
			width: 8px
			height: 17px
	.slick-prev
		right: 65px
		left: auto
		&:before
			background: url(../img/svg/arrow_left.svg)
	.slick-next
		right: 0
		left: auto
		&:before
			background: url(../img/svg/arrow_right.svg)

