.popup
	display: none
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 999
	overflow: auto
	background-color: #FFF
	// +vertical
	&.is-active
		display: block
.popup__overlay/* возможно потребуется убрать */
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: rgba(0, 0, 0, 0.7) 
.popup__main
	display: inline-block
	// vertical-align: middle
	overflow-y: auto
	overflow-x: hidden
	// height: 100%
	width: 100%
	text-align: left
	background-color: $color-white-1
	position: relative
	z-index: 1
.popup__col
	display: inline-block
	vertical-align: top
	width: 50%
.popup__content
	max-width: 1210px
	width: 100%
	float: right
.popup__wrp
	padding: 130px 0 80px
	height: 100%
	max-width: 1360px
	margin: auto
.popup__header
	height: 50px
	padding-left: 50px
	position: absolute
	top: 0
	left: 0
	right: 0
	h1
		display: inline-block
		padding: 18px 0px 19px
.close
	position: absolute
	top: 0
	right: 0
	background-color: $color-active
	width: 50px
	height: 50px 
	&:before
		content: ''
		display: block
		background: url(../img/svg/close_button_white.svg) no-repeat center
		width: 17px
		height: 17px
		top: 0
		right: 0
		bottom: 0
		left: 0
		margin: auto
.slider-pop-text
	@extend %slide-t
.d-list
	position: relative
	font-size: 0
	&__item
		width: 33.3333%
		display: inline-block
		vertical-align: top
		position: relative
		padding: 0 25px
		img
			max-width: 347px
			width: 100%
			display: block
			height: auto
			margin: auto
		&.is-active
			+scale(1.1)
			&:after
				opacity: 0
			.sign
				opacity: 1
		&:after
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: rgba(255, 255, 255, 0.9)
			opacity: 1
.sign
	font-size: 16px
	color: $color-dark-1
	+md
	line-height: 1
	text-align: center
	padding: 20px 0
	opacity: 0
