.popup
	display: none
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 999
	overflow: hidden
	background-color: #FFF
	&.is-active
		display: block
.popup__main
	display: inline-block
	overflow-y: auto
	overflow-x: hidden
	width: 100%
	height: 100%
	text-align: left
	background-color: $color-white-1
	position: relative
	z-index: 1
	&_space
		padding-top: 50px
.popup__side
	float: right
	width: 50%
	+r(1000)
		width: 60%
	+r(900)
		width: 100%
		float: none
.popup__content
	position: relative
	float: right
	height: calc(100vh - 50px)
	margin-right: 7.352941176470589%
	padding: 55px 60px
	width: 33.82352941176471%
	+r(1100)
		margin-right: 0
		width: 50%
	+r(1024)
		width: 40%
		padding: 55px 35px
	+r(900)
		float: none
		width: 100%
		padding: 40px 35px 111px
		height: auto
.slide-panel
	position: absolute
	left: 0
	bottom: 0
	padding: 0 60px
	width: 100%
	background-color: #FFF
	z-index: 1
	+clr
	+r(1024)
		padding: 0 35px
	+r(380)
		.arrow
			display: none !important
.slide-buttons-wrp
	float: right
	.arrow
		position: relative
		bottom: auto
	.arrow-left
		right: auto
	.arrow-right
		right: auto
.arrow
	width: 65px
	height: 65px
	background-color: #FFF 
	cursor: pointer
	position: absolute
	bottom: 0
	z-index: 1
	+hide-text
	&:before
		content: ''
		display: block
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 8px
		height: 17px
.arrow-left
	right: 65px
	&:before
		background: url(../img/svg/arrow_left.svg)
.arrow-right
	right: 0
	&:before
		background: url(../img/svg/arrow_right.svg)
.popup__wrp
	padding: 130px 0 80px
	height: 100%
	margin: auto
	+r(420)
		padding: 80px 0 80px
.popup__header
	height: 50px
	padding-left: 50px
	position: absolute
	top: 0
	left: 0
	right: 0
	h1
		display: inline-block
		padding: 18px 0px 19px
		font-size: 0
.close
	position: absolute
	top: 0
	right: 0
	background-color: $color-active
	width: 50px
	height: 50px
	&:before
		content: ''
		display: block
		background: url(../img/svg/close_button_white.svg) no-repeat center
		width: 17px
		height: 17px
		top: 0
		right: 0
		bottom: 0
		left: 0
		margin: auto
.slider-pop-pic
	.slick-slide
		+rm(901)
			height: calc(100vh - 50px)
			img
				width: 100%
				height: 100%
.sign
	font-size: 16px
	color: $color-dark-1
	+md
	line-height: 1
	text-align: center
	padding: 20px 0
	opacity: 0
.slide-index
	float: left
	position: relative
	+md
	font-size: 26px
	line-height: 1
	color: rgba(74,74,74,0.25)
	&__current
		font-size: 56px
		color: $color-dark-1
.slider-doc
	position: relative
	.slick-slide
		padding: 0 25px
		+scale(0.9)
		&:before
			content: ''
			display: block
			position: absolute
			z-index: 1
			background-color: rgba(255, 255, 255, 0.9)
			top: 0
			left: 0
			width: 100%
			height: 100%
			opacity: 1
			+tr(opacity 0.3s)
		&.slick-center
			+scale(1)
			&:before
				opacity: 0
			.sign
				opacity: 1