<section class="about">
	<div class="inner">
		<div class="about__content">
			<h2 class="h1">ТЕХНОЛОГИЯ ВАКУУМНОГО НАПЫЛЕНИЯ</h2>
			<p>
				Уже много лет как разработаны инженерами и научными сотрудниками покрытия, основные принципы и методы их напыления на материалы, которые используются в архитектурном строительстве, в отделке зданий, для кровли куполов и крыш церквей.
				Научные сотрудники компании “Покров” усовершенствовали данные методы и технологии по нанесению покрытий в вакууме ионноплазменными методами.
			</p>
			<button class="btn">Посмотреть работы</button>
		</div>
		<div class="about__pic">
			<img src="img/about_us_image_02.jpg" alt="">
		</div>
	</div>
</section>