<section class="footer is-visible-mob">
	<div class="inner">
		<div class="footer__in footer__r">
			<a href="mailto:info@pokrov-ltd.com.ua" class="link-mail">info@pokrov-ltd.com.ua</a>
			<span>+38096 5300 300 /</span> <span>+38066 5600 300</span>
		</div>
		<div class="footer__in footer__l">
			<span>ООО «ПОКРОВ-ЛТД»</span>
			<p class="copy">&copy; 2016 Все права защищены</p>
		</div>
		<div class="footer__in footer__c">
			<address>ЧЕРКАССЫ, УКРАИНА УЛ. ГРОМОВА, 165А</address>
		</div>
	</div>
</section>