<section class="header">
	<div class="header__in">
		<button class="mobile-menu js-menu"><span></span></button>
		<div class="header__logo">
			<h1><a href="/" class="logo"><img src="img/svg/logo.svg" alt="Pokrov"></a></h1>
		</div>
		<div class="header__nav">
			<div class="header__switcher">
				<nav class="nav">
					<a href="#" class="nav__link is-active">Рус</a>
					<a href="#" class="nav__link">Укр</a>
					<a href="#" class="nav__link">Eng</a>
				</nav>
			</div>
			<nav class="nav">
				<a href="about.html" class="nav__link is-active">О компании</a>
				<a href="services.html" class="nav__link">Услуги</a>
				<a href="technology.html" class="nav__link">Технологии</a>
				<a href="gallery.html" class="nav__link">Фотогалерея</a>
				<a href="news.html" class="nav__link">Новости</a>
				<a href="contacts.html" class="nav__link">Контакты</a>
			</nav>
		</div>
	</div>
</section>