<!-- BEGIN popup -->
<div class="popup js-popup" data-popup="crosses">
	<div class="popup__main popup__main_space">
		<div class="popup__header">
			<h1><a href="/" class="logo"><img src="img/svg/logo.svg" alt="Pokrov"></a></h1>
			<button type="button" class="close js-close"></button>
		</div>
		<div class="popup__side">
			<div class="slider-pop-pic js-slider-pop-pic">
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-001.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-002.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-003.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-004.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-005.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-006.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-007.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-008.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-009.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-010.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-011.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-012.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-013.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-014.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-015.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-016.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-017.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-018.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-019.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-020.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-021.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-022.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-023.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-024.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-025.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-026.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-027.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-028.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-029.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-030.jpg" alt=""></div>
				<div class="slider-pop-pic__item"><img src="img/gallery/02/crosses-031.jpg" alt=""></div>
			</div>
		</div>
		<div class="popup__content">
			<div class="slider-pop-text js-slider-pop-text">
				<div class="slider-pop-text__item">
					<h2 class="h1">
						КУПОЛА ХРАМА ИОАННА КРЕСТИТЕЛЯ
					</h2>
					<p>
						Освящение и поднятие крестов на купола 
						Двухпрестольного храма Рождества Иоанна 
						Крестителя и Всех Святых в земле просиявших, который находится в селе Хуторы.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. In cum voluptas, impedit totam adipisci numquam repellat maxime ab quisquam quos.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum recusandae quibusdam esse error ipsam iste voluptatibus odio, natus reprehenderit culpa dolorum laborum facilis incidunt non in doloremque quis voluptas ipsum.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quaerat, debitis.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione suscipit, officiis nemo, cum odit corporis dolor corrupti magni aliquam eum, est cupiditate totam ex architecto nesciunt perferendis quis dolorum deseru
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						КУПОЛА ХРАМА ИОАННА КРЕСТИТЕЛЯ
					</h2>
					<p>
						Освящение и поднятие крестов на купола 
						Двухпрестольного храма Рождества Иоанна 
						Крестителя и Всех Святых в земле просиявших, который находится в селе Хуторы.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. In cum voluptas, impedit totam adipisci numquam repellat maxime ab quisquam quos.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum recusandae quibusdam esse error ipsam iste voluptatibus odio, natus reprehenderit culpa dolorum laborum facilis incidunt non in doloremque quis voluptas ipsum.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quaerat, debitis.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione suscipit, officiis nemo, cum odit corporis dolor corrupti magni aliquam eum, est cupiditate totam ex architecto nesciunt perferendis quis dolorum deseru
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quaerat, debitis.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione suscipit, officiis nemo, cum odit corporis dolor corrupti magni aliquam eum, est cupiditate totam ex architecto nesciunt perferendis quis dolorum deseru
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						КУПОЛА ХРАМА ИОАННА КРЕСТИТЕЛЯ
					</h2>
					<p>
						Освящение и поднятие крестов на купола 
						Двухпрестольного храма Рождества Иоанна 
						Крестителя и Всех Святых в земле просиявших, который находится в селе Хуторы.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. In cum voluptas, impedit totam adipisci numquam repellat maxime ab quisquam quos.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum recusandae quibusdam esse error ipsam iste voluptatibus odio, natus reprehenderit culpa dolorum laborum facilis incidunt non in doloremque quis voluptas ipsum.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quaerat, debitis.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione suscipit, officiis nemo, cum odit corporis dolor corrupti magni aliquam eum, est cupiditate totam ex architecto nesciunt perferendis quis dolorum deseru
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						КУПОЛА ХРАМА ИОАННА КРЕСТИТЕЛЯ
					</h2>
					<p>
						Освящение и поднятие крестов на купола 
						Двухпрестольного храма Рождества Иоанна 
						Крестителя и Всех Святых в земле просиявших, который находится в селе Хуторы.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. In cum voluptas, impedit totam adipisci numquam repellat maxime ab quisquam quos.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum recusandae quibusdam esse error ipsam iste voluptatibus odio, natus reprehenderit culpa dolorum laborum facilis incidunt non in doloremque quis voluptas ipsum.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quaerat, debitis.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione suscipit, officiis nemo, cum odit corporis dolor corrupti magni aliquam eum, est cupiditate totam ex architecto nesciunt perferendis quis dolorum deseru
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quaerat, debitis.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione suscipit, officiis nemo, cum odit corporis dolor corrupti magni aliquam eum, est cupiditate totam ex architecto nesciunt perferendis quis dolorum deseru
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						КУПОЛА ХРАМА ИОАННА КРЕСТИТЕЛЯ
					</h2>
					<p>
						Освящение и поднятие крестов на купола 
						Двухпрестольного храма Рождества Иоанна 
						Крестителя и Всех Святых в земле просиявших, который находится в селе Хуторы.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. In cum voluptas, impedit totam adipisci numquam repellat maxime ab quisquam quos.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum recusandae quibusdam esse error ipsam iste voluptatibus odio, natus reprehenderit culpa dolorum laborum facilis incidunt non in doloremque quis voluptas ipsum.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quaerat, debitis.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione suscipit, officiis nemo, cum odit corporis dolor corrupti magni aliquam eum, est cupiditate totam ex architecto nesciunt perferendis quis dolorum deseru
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						КУПОЛА ХРАМА ИОАННА КРЕСТИТЕЛЯ
					</h2>
					<p>
						Освящение и поднятие крестов на купола 
						Двухпрестольного храма Рождества Иоанна 
						Крестителя и Всех Святых в земле просиявших, который находится в селе Хуторы.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. In cum voluptas, impedit totam adipisci numquam repellat maxime ab quisquam quos.
					</p>
				</div>
				<div class="slider-pop-text__item">
					<h2 class="h1">
						Lorem ipsum dolor sit amet, consectetur.
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum recusandae quibusdam esse error ipsam iste voluptatibus odio, natus reprehenderit culpa dolorum laborum facilis incidunt non in doloremque quis voluptas ipsum.
					</p>
				</div>
			</div>
			<div class="slide-panel">
				<div class="slide-index">
					<span class="slide-index__current">1</span>
					/<span class="slide-index__total"></span>
				</div>
				<div class="slide-buttons-wrp">
					<button type="button" class="arrow arrow-left js-arrow-prev">prev</button>
					<button type="button" class="arrow arrow-right js-arrow-next">next</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END popup