<!-- BEGIN popup -->
<div class="popup js-popup" data-popup="sheets">
	<div class="popup__main popup__main_space">
		<div class="popup__header">
			<h1><a href="/" class="logo"><img src="img/svg/logo.svg" alt="Pokrov"></a></h1>
			<button type="button" class="close js-close"></button>
		</div>
		<div class="popup__side">
			<div class="slider-pop-pic js-slider-pop-pic">

				<div class="slider-pop-pic__item">
					<img src="img/gallery/01/001.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="popup__content">
			<div class="slider-pop-text js-slider-pop-text">
				<div class="slider-pop-text__item">
					<h2 class="h1">
						КУПОЛА ХРАМА ИОАННА КРЕСТИТЕЛЯ
					</h2>
					<p>
						Освящение и поднятие крестов на купола 
						Двухпрестольного храма Рождества Иоанна 
						Крестителя и Всех Святых в земле просиявших, который находится в селе Хуторы.
					</p>
				</div>
			</div>
			<div class="slide-panel">
				<div class="slide-index">
					<span class="slide-index__current">1</span>
					/<span class="slide-index__total"></span>
				</div>
				<div class="slide-buttons-wrp">
					<button type="button" class="arrow arrow-left js-arrow-prev">prev</button>
					<button type="button" class="arrow arrow-right js-arrow-next">next</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END popup -->