<section class="services_intro">
</section>
<section class="services">
	<div class="inner">
		<ul class="services__list">
			<li class="services__list-item">
				<h3 class="h3"><a href="#">ПРОЕКТИРОВАНИЕ И ИЗГОТОВЛЕНИЕ КУПОЛОВ</a></h3>
			</li>
			<li class="services__list-item">
				<h3 class="h3"><a href="#">РЕАЛИЗАЦИЯ ЛИСТОВ ИЗ НЕРЖАВЕЮЩЕЙ СТАЛИ</a></h3>
			</li>
			<li class="services__list-item">
				<h3 class="h3"><a href="#">ПРОЕКТИРОВАНИЕ И ИЗГОТОВЛЕНИЕ НАКУПОЛЬНЫХ КРЕСТОВ</a></h3>
			</li>
			<li class="services__list-item">
				<h3 class="h3"><a href="#">ДЕКОРАТИВНЫЕ ЭЛЕМЕНТЫ ИЗ НЕРЖАВЕЮЩЕЙ СТАЛИ</a></h3>
			</li>
		</ul>
	</div>
</section>

calc (100%-960)/2